## Preperation for data science examn project

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures
import sklearn.metrics as sm


import re

import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

import requests
import json
from pandas.io.json import json_normalize
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [2]:
data = pd.read_csv('charts.csv')

In [3]:
data.shape

(26173514, 9)

In [4]:
data.head()

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988.0
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,top200,MOVE_DOWN,210943.0
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,top200,SAME_POSITION,173865.0
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,top200,MOVE_UP,153956.0

In [5]:
data.tail()

,title,rank,date,artist,url,region,chart,trend,streams
26173509,BYE,46,2021-07-31,Jaden,https://open.spotify.com/track/3OUyyDN7EZrL7i0...,Vietnam,viral50,MOVE_UP,NaN
26173510,Pillars,47,2021-07-31,My Anh,https://open.spotify.com/track/6eky30oFiQbHUAT...,Vietnam,viral50,NEW_ENTRY,NaN
26173511,Gái Độc Thân,48,2021-07-31,Tlinh,https://open.spotify.com/track/2klsSb2iTfgDh95...,Vietnam,viral50,MOVE_DOWN,NaN
26173512,Renegade (feat. Taylor Swift),49,2021-07-31,Big Red Machine,https://open.spotify.com/track/1aU1wpYBSpP0M6I...,Vietnam,viral50,MOVE_DOWN,NaN
26173513,Letter to Jarad,50,2021-07-31,"LRN Slime, Shiloh Dynasty",https://open.spotify.com/track/508QhA2SncMbh5C...,Vietnam,viral50,MOVE_DOWN,NaN

In [6]:
data.columns

Index(['title', 'rank', 'date', 'artist', 'url', 'region', 'chart', 'trend',
       'streams'],
      dtype='object')

In [7]:
data.isnull().sum()

title           11
rank             0
date             0
artist          18
url              0
region           0
chart            0
trend            0
streams    5851610
dtype: int64

In [8]:
grouped = data.groupby(data["chart"])

In [9]:
viral_50 = grouped.get_group('viral50')
top200 = grouped.get_group("top200")

In [10]:
top200.shape

(20321904, 9)

In [11]:
top200.head()

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988.0
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,top200,MOVE_DOWN,210943.0
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,top200,SAME_POSITION,173865.0
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,top200,MOVE_UP,153956.0

In [12]:
top200.tail()

,title,rank,date,artist,url,region,chart,trend,streams
25276069,Ojalá (feat. Darell),196,2018-01-31,"De La Ghetto, Almighty, Bryant Myers",https://open.spotify.com/track/3EMDvnVpQd9RZJv...,Uruguay,top200,MOVE_DOWN,1178.0
25276070,Lo Que Pasa en la Noche,197,2018-01-31,Mano Arriba,https://open.spotify.com/track/2eOleVJlGvBE027...,Uruguay,top200,NEW_ENTRY,1178.0
25276071,El Equivocado,198,2018-01-31,Mano Arriba,https://open.spotify.com/track/5vy1C7DD9xJ5fRB...,Uruguay,top200,MOVE_DOWN,1170.0
25276072,Que Fui Tu Amante,199,2018-01-31,El Gucci y Su Banda,https://open.spotify.com/track/1fmiCxwEbZFIszI...,Uruguay,top200,MOVE_DOWN,1165.0
25276073,Solo,200,2018-01-31,"Amenazzy, Lary Over",https://open.spotify.com/track/2rrJfOphzn4uQCK...,Uruguay,top200,NEW_ENTRY,1162.0

In [13]:
viral_50.shape

(5851610, 9)

In [14]:
viral_50.head()

,title,rank,date,artist,url,region,chart,trend,streams
12808,Boys,13,2017-08-01,Charli XCX,https://open.spotify.com/track/5o4yGlG0PfeVUa6...,Latvia,viral50,MOVE_UP,NaN
12965,Hold Me,19,2017-08-01,R3HAB,https://open.spotify.com/track/2a9xGmpgNyNz9QV...,Luxembourg,viral50,MOVE_DOWN,NaN
13781,Hola Hola,40,2017-08-01,KARD,https://open.spotify.com/track/3VC1IEz9M1txlMS...,Peru,viral50,NEW_ENTRY,NaN
14042,Cuídate,4,2017-08-01,Zetazen,https://open.spotify.com/track/0WgnbqlHieZmdYa...,Spain,viral50,SAME_POSITION,NaN
14092,Boys,13,2017-08-01,Charli XCX,https://open.spotify.com/track/5o4yGlG0PfeVUa6...,Taiwan,viral50,MOVE_DOWN,NaN

In [15]:
viral_50.tail()

,title,rank,date,artist,url,region,chart,trend,streams
26173509,BYE,46,2021-07-31,Jaden,https://open.spotify.com/track/3OUyyDN7EZrL7i0...,Vietnam,viral50,MOVE_UP,NaN
26173510,Pillars,47,2021-07-31,My Anh,https://open.spotify.com/track/6eky30oFiQbHUAT...,Vietnam,viral50,NEW_ENTRY,NaN
26173511,Gái Độc Thân,48,2021-07-31,Tlinh,https://open.spotify.com/track/2klsSb2iTfgDh95...,Vietnam,viral50,MOVE_DOWN,NaN
26173512,Renegade (feat. Taylor Swift),49,2021-07-31,Big Red Machine,https://open.spotify.com/track/1aU1wpYBSpP0M6I...,Vietnam,viral50,MOVE_DOWN,NaN
26173513,Letter to Jarad,50,2021-07-31,"LRN Slime, Shiloh Dynasty",https://open.spotify.com/track/508QhA2SncMbh5C...,Vietnam,viral50,MOVE_DOWN,NaN

In [16]:
top200.region

0           Argentina
1           Argentina
2           Argentina
3           Argentina
4           Argentina
              ...
25276069      Uruguay
25276070      Uruguay
25276071      Uruguay
25276072      Uruguay
25276073      Uruguay
Name: region, Length: 20321904, dtype: object

## Genius lyrics

In [17]:
top200.head()

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988.0
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,top200,MOVE_DOWN,210943.0
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,top200,SAME_POSITION,173865.0
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,top200,MOVE_UP,153956.0

# Getting artist, track name and url

In [18]:
top200.title[1]

"Vente Pa' Ca (feat. Maluma)"

In [19]:
test_string = str(top200.title[1])

In [20]:
test_string

"Vente Pa' Ca (feat. Maluma)"

In [21]:
test_string.find("(")

13

In [22]:
test_string[13:]

'(feat. Maluma)'

In [23]:
test_string = test_string[:test_string.find(" (")]

In [24]:
track_string = test_string

In [25]:
test_string = test_string.replace("' ", " ")
test_string

'Vente Pa Ca'

In [26]:
track_string

"Vente Pa' Ca"

In [27]:
test_string = str(test_string.replace(" ", "-"))

In [28]:
test_string

'Vente-Pa-Ca'

In [32]:
artist_url = str(top200.artist[1])

In [33]:
artist_string = artist_url

In [34]:
artist_url = str(artisu_url.replace(" ", "-"))

In [35]:
artist_url

'Ricky-Martin'

In [36]:
def split_string(string, delimiters):
    pattern = r'|'.join(delimiters)
    return split(pattern, string)

In [37]:
def scraper(artist, track):
    
    #r = requests.get('https://genius.com/' + artist + '-' + track + '-lyrics')
    r = str('https://genius.com/' + artist + '-' + track + '-lyrics')

    return str(r)

In [38]:
scraper(artist_url, test_string)

'https://genius.com/Ricky-Martin-Vente-Pa-Ca-lyrics'

In [39]:
def track_info(x):
    current_artist = top200.artist[x]
    current_title = top200.title[x]
    
    # Getting the artist
    current_title.find("(")
    current_title = current_title[:current_title.find(" (")]
    current_title = current_title.replace("' ", " ")
    current_title = current_title.replace(" ", "-")
    
    #Getting the track
    current_artist.find("(")
    current_artist = current_artist.replace(" ", "-")
    
    return str(current_artist+"-"+current_title)

In [40]:
track_info(1)

'Ricky-Martin-Vente-Pa-Ca'

# Scraper

In [131]:
def extract_credits(URL):
    
    r = requests.get(URL)
    # Parsing the HTML
    soup = BeautifulSoup(r.content, 'html.parser')
    s = soup.find('div', class_='SongInfo__Columns-nekw6x-2 lgBflw')
    
    featur = []
    writer = []
    label = []
    producer = []
    
    for line in s:
        div = line.find('div').text
        an = line.find_all('a')


        if 'Featuring' in div: 
            extract = [x.text for x in an]
            for x in extract:
                featur.append(x)
            
       
            
        if 'Written By' in div:
            extract = [x.text for x in an]
            for x in extract:
                writer.append(x)


         
        if 'Label' in div:
            extract = [x.text for x in an]
            for x in extract:
                label.append(x)
         
        if 'Produced By' in div:
            extract = [x.text for x in an]
            for x in extract:
                producer.append(x)

            
            
    collection = {"Feature":featur, "Writer":writer, "Label":label, "Producer":producer}        
        
        
    return collection

In [132]:
def get_url(x):  
    search_param = track_info(x)
    r = str('https://genius.com/'+search_param+'-lyrics')
    return str(r)

In [133]:
track_string

"Vente Pa' Ca"

In [134]:
artist_string

'Ricky Martin'

In [135]:
scraper(artist_url, test_string)

'https://genius.com/Ricky-Martin-Vente-Pa-Ca-lyrics'

In [136]:
the_list = extract_credits(scraper(artist_url, test_string))

In [137]:
the_list

{'Feature': ['Maluma'],
 'Writer': ['Ronny Svendsen',
  'Chief 1',
  'Justin Jesso',
  'Anne Judith Wik',
  'Maluma',
  'Carl Ryden',
  'Nermin Harambašić',
  'Ricky Martin',
  'Mauricio Sebastián Montaner',
  'Ricardo Andrés Montaner'],
 'Label': [],
 'Producer': ['Alexander “A.C.” Castillo']}

In [138]:
the_list.values()

dict_values([['Maluma'], ['Ronny Svendsen', 'Chief 1', 'Justin Jesso', 'Anne Judith Wik', 'Maluma', 'Carl Ryden', 'Nermin Harambašić', 'Ricky Martin', 'Mauricio Sebastián Montaner', 'Ricardo Andrés Montaner'], [], ['Alexander “A.C.” Castillo']])

***

# Dict to csv

In [139]:
import csv

In [140]:
the_list = pd.DataFrame.from_dict(the_list, orient='index').T

In [141]:
the_list

  Feature                       Writer Label                   Producer
0  Maluma               Ronny Svendsen  None  Alexander “A.C.” Castillo
1    None                      Chief 1  None                       None
2    None                 Justin Jesso  None                       None
3    None              Anne Judith Wik  None                       None
4    None                       Maluma  None                       None
5    None                   Carl Ryden  None                       None
6    None            Nermin Harambašić  None                       None
7    None                 Ricky Martin  None                       None
8    None  Mauricio Sebastián Montaner  None                       None
9    None      Ricardo Andrés Montaner  None                       None

In [142]:
import pandas as pd
df = pd.DataFrame.from_dict(the_list) 
df.to_csv (r'C:\Users\Nmtur\.Neo4jDesktop\relate-data\dbmss\dbms-20b18527-223b-4ada-8e62-429ad982fc9b\import\test8.csv', index = False, header=True)

In [143]:
df

  Feature                       Writer Label                   Producer
0  Maluma               Ronny Svendsen  None  Alexander “A.C.” Castillo
1    None                      Chief 1  None                       None
2    None                 Justin Jesso  None                       None
3    None              Anne Judith Wik  None                       None
4    None                       Maluma  None                       None
5    None                   Carl Ryden  None                       None
6    None            Nermin Harambašić  None                       None
7    None                 Ricky Martin  None                       None
8    None  Mauricio Sebastián Montaner  None                       None
9    None      Ricardo Andrés Montaner  None                       None

# Neo4j

In [144]:
from neo4j import GraphDatabase 
from pandas.io.json import json_normalize
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from py2neo import Graph,Node,Relationship

In [145]:
# Create connection to database

class neo4jConnection:
    
    def __init__(self, uri, user, pwd):
        self.__uri = uri
        self.__user = user
        self.__pwd = pwd
        self.__driver = None
        try:
            self.__driver = GraphDatabase.driver(self.__uri, auth=(self.__user, self.__pwd))
        except Exception as e:
                print("Failed to create the driver: ", e)
                
    def query(self, query, db=None):
        assert self.__driver is not None, "Driver not initialized!"
        session = None
        response = None
        try:
            session = self.__driver.session(database=db) if db is not None else self.__driver.session()
            response = list(session.run(query))
        except Exception as e:
            print("Query failed!", e)
        finally:
            if session is not None:
                session.close()
        return response
    
    def close(self):
        if self.__driver is not None:
            self.__driver.close()

In [158]:
conn = neo4jConnection(uri="bolt://localhost:7687", user="neo4j", pwd="test123")
try:
    graph.run("Match () Return 1 Limit 1")
    print('ok')
except Exception:
    print('not ok')

not ok

In [159]:
track_string

"Vente Pa' Ca"

In [161]:
conn.query('''
LOAD CSV WITH HEADERS FROM "file:///test8.csv" AS row
WITH row WHERE row.Feature IS NOT NULL
MERGE (a:Person {name:row.Feature, title:"Artist"})
MERGE (a1:Person {name:"'''+artist_string+'''", title:"Artist"})
CREATE (l:Label {name:"Sony Music"})
CREATE (s:Song {name:"'''+track_string+'''"})
MERGE (a)-[:COLLABORATED]-(a1)
MERGE (a)-[:FEATURED]->(s)<-[:SANG]-(a1)
MERGE (l)-[:RELEASED]->(s)
''')

[]

In [151]:
artist_string

'Ricky Martin'

In [157]:
conn.query('''
LOAD CSV WITH HEADERS FROM "file:///test8.csv" AS row WITH row WHERE row.feature IS NOT null
MERGE (f:Feature {feature:row.`Feature`})
''')

[]

In [ ]:
 	Feature 	Writer 	Label 	Producer